/* Add CSS Styling */
.odd-numbered-element {
    background-color: lightpink;
    color: black;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

.second-element {
    color: blue;
    font-size: 32px;
}

.third-element {
    font-size: 24px;
}

#fourth-element{
    background-color: lightgreen;
    font-size: 20px;
    font-weight: bold;
}